CMakeLists.txt.user
build-freertos-test*
doc
misc/cubeMx/Inc
misc/cubeMx/Src
misc/cubeMx/.mxproject
misc/cubeMx/Drivers/
misc/cubeMx/EWARM/
serial.c
serial.txt
serial2.c
.clangd
.vscode
build
compile_commands.json
tickless-jays.c
lptimTick-jeffs.c
